*{
    margin: 0;
}

.card{
   box-shadow: 0 1px 4px 0 rgb(230, 0, 0);
   background-color: rgb(112, 112, 112);
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
}
